/* .list-navigation.list-navigation-hidden {
  animation: closeMenu 0.8s ease-in-out forwards;
} */

.hide {
  opacity: 0;
  font-size: 0;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  padding-top: 32px;
}
.logo-link-header {
  display: flex;
  gap: 8px;
}

.logo-surname-header {
  color: #fafafa;
  line-height: 1;
}
.navigation {
  display: none;
}

.link-order_project-navigation {
  display: none;
}

@media screen and (max-width: 767.99px) {
  .mobile-menu-open-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;

    stroke-width: 2px;
    stroke: #fafafa;
  }

  /*Mobile menu styles*/
  .mobile-menu-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;

    background: linear-gradient(
      270deg,
      rgb(28, 29, 32) 49.68%,
      rgb(105, 41, 45) 67.73%,
      rgb(237, 59, 68) 100%
    );
    transform: translateX(100%);
  }

  .mobile-menu-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
  }

  .mobile-menu-close-btn {
    position: absolute;
    top: 32px;
    right: 16px;
    z-index: 9999;

    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;

    stroke-width: 2px;
    stroke: #fafafa;
  }

  .navigation-mobile-menu {
    margin-top: auto;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-underline-offset: 3.1px;
    color: #fafafa;
  }

  .title-navigation-mobile-menu {
    padding: 10px;
    width: 60px;
    height: 39px;
  }

  .list-navigation-mobile-menu {
    text-align: center;
  }

  .order_project-navigation-mobile-menu {
    margin-top: auto;
    margin-bottom: 64px;
  }

  .link-order_project-navigation-mobile-menu {
    display: block;
    border-radius: 60px;
    padding: 14px 31px;
    width: 164px;
    background: #ed3b44;
    font-size: 14px;
    height: 45px;
    line-height: 1;
    color: #fafafa;
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu-open-btn {
    display: none;
  }

  .mobile-menu-wrapper {
    display: none;
  }

  .navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    color: #fafafa;
  }

  .title-navigation {
    padding: 10px;
    width: 60px;
    height: 39px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-underline-offset: 3.1px;
  }

  .list-navigation {
    width: 67px;
    text-align: center;
    /* transition: all 0.3s ease-in-out; */
    /* opacity: 1; */
    /* animation: showMenu 0.8s ease-in-out forwards; */
  }

  .link-order_project-navigation {
    display: block;
    border-radius: 60px;
    padding: 18px 24px;
    width: 163px;
    height: 55px;
    background: #ed3b44;
    line-height: 1;
    color: #fafafa;
  }
}

/* .mobile-menu-wrapper {
  position: relative;
  background: linear-gradient(to right, red 0%, #111 50%, #111 100%);
} */

/* .mobile-menu-wrapper::before {
  content: '';
  backdrop-filter: blur(100px);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(59, 59, 59, 0.2) 16.67%,
    rgba(255, 255, 255, 0.2) 100%
  );
  position: absolute;
  background-size: 42px 100%; 
  background-repeat: repeat-x;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
} */

.show-menu {
  animation: showMenu 0.7s ease-in-out forwards;
}

.close-menu {
  animation: closeMenu 0.7s ease-in-out forwards;
}

@keyframes showMenu {
  0% {
    opacity: 0;
  }

  50% {
    scale: 3;
  }

  100% {
    scale: 1;
    opacity: 1;
  }
}

@keyframes closeMenu {
  0% {
    opacity: 1;
  }

  50% {
    scale: 3;
  }

  100% {
    opacity: 0;
  }
}

/* modal window animation*/

@keyframes slideInFromLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes squashInMiddle {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

.modal {
  /* Стилі за замовчуванням */
  opacity: 0;
  transform: scaleX(0);
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.modal-open {
  /* Анімація відкриття модального вікна */
  opacity: 1;
  transform: scaleX(1);
  animation: slideInFromLeft 0.5s ease forwards,
    slideInFromRight 0.5s ease forwards, squashInMiddle 0.5s ease forwards;
}
